<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.HomeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchSubjectController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.SearchSubjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSubjectController</servlet-name>
        <url-pattern>/search-subject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.ews.krs.controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/dashboard/admin</url-pattern>
        <url-pattern>/dashboard/teacher</url-pattern>
        <url-pattern>/dashboard/user</url-pattern>
        <url-pattern>/dashboard/manager</url-pattern>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClassesController</servlet-name>
        <servlet-class>com.ews.krs.controller.admin.ClassesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassesController</servlet-name>
        <url-pattern>/class-manager</url-pattern>
        <url-pattern>/class-manager/list</url-pattern>
        <url-pattern>/class-manager/delete</url-pattern>
        <url-pattern>/class-manager/new</url-pattern>
        <url-pattern>/class-manager/insert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClassDetailsController</servlet-name>
        <servlet-class>com.ews.krs.controller.admin.ClassDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassDetailsController</servlet-name>
        <url-pattern>/class-details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.AboutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.BlogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.ContactController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.BlogDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blog-detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.LessonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/subject/lesson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LessonDetailsController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.LessonDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LessonDetailsController</servlet-name>
        <url-pattern>/subject/lesson/lesson-details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilterSubjectsController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.FilterSubjectsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterSubjectsController</servlet-name>
        <url-pattern>/subject/filterSubject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMailInfoWeb</servlet-name>
        <servlet-class>com.ews.krs.controller.user.SendMailInfoWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailInfoWeb</servlet-name>
        <url-pattern>/send-info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubjectDetailController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.SubjectDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectDetailController</servlet-name>
        <url-pattern>/subject-detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.UserProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/user-profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.LoginGoogleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerificationController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.VerificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificationController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.VerifyEmailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verify-email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.ews.krs.controller.user.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change-pass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SystemSettingController</servlet-name>
        <servlet-class>com.ews.krs.controller.admin.SystemSettingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemSettingController</servlet-name>
        <url-pattern>/system-setting</url-pattern>
        <url-pattern>/system-setting/new</url-pattern>
        <url-pattern>/system-setting/insert</url-pattern>
        <url-pattern>/system-setting/edit</url-pattern>
        <url-pattern>/system-setting/update</url-pattern>
        <url-pattern>/system-setting/delete</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.ews.krs.util.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>org.apache.jasper.servlet.TldScanner.skipJars</param-name>
        <param-value>*.jar</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/view/user/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/view/user/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/view/user/401.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>Studyset</servlet-name>
        <servlet-class>com.ews.krs.controller.admin.StudysetSetting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Studyset</servlet-name>
        <url-pattern>/studyset</url-pattern>
        <url-pattern>/studyset/new</url-pattern>
        <url-pattern>/studyset/insert</url-pattern>
        <url-pattern>/studyset/update</url-pattern>
        <url-pattern>/studyset/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MaterialSetting</servlet-name>
        <servlet-class>com.ews.krs.controller.admin.MaterialSetting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaterialSetting</servlet-name>
        <url-pattern>/material-setting</url-pattern>
        <url-pattern>/material-setting/new</url-pattern>
        <url-pattern>/material-setting/insert</url-pattern>
        <url-pattern>/material-setting/edit</url-pattern>
        <url-pattern>/material-setting/update</url-pattern>
        <url-pattern>/material-setting/delete</url-pattern>
    </servlet-mapping>

</web-app>
